.loading {
    position: absolute;
    z-index: 9999;
    align-content: center;
    
    margin: 0;
    position: absolute;
   
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
}

.css-df17o1 {
    position: fixed;
}